# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Python
venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/build/

# Output files from the application
output/
processed_audio/
transcripts_test/
Question/

# IDE/Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
