services:
  redis:
    image: "redis:alpine"
    container_name: vkc-redis
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vkc-backend
    env_file:
      - ./.env
    environment:
      - REDIS_URL=redis://redis:6379/0
    ports:
      - "5001:5000"
    volumes:
      - ./data:/app/data
      - ./migrations:/app/migrations
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: vkc-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
