services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vkc-backend
    env_file:
      - ./.env
    ports:
      - "5001:5000"
    volumes:
      - ./data:/app/data
      - ./migrations:/app/migrations

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_BASE_URL: ${REACT_APP_API_BASE_URL}
    container_name: vkc-frontend
    environment:
      - ENV_MODE=development
    ports:
      - "3000:80"
    depends_on:
      - backend
