/* Brutalism doesn't need much here. 
   We ensure the font smoothing is on for better text rendering. */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove the default focus outline in favor of our custom one in App.css */
*:focus {
  outline: none;
}

/* Brutalism doesn't use rounded corners, so we can enforce this globally if needed,
   although Bootstrap components might need specific overrides. */
* {
  border-radius: 0 !important;
}
